* {
    margin: 0;
}
body { filter: invert(); background-color: black; } /** :o */
#root {
    display: grid;
    gap: 2vw;
    padding: 2vw;
}
.clips {
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}
figure {
    --rms: 0;
    display: grid;
    background: linear-gradient(0deg, #ddd, white calc(var(--rms) * 5 * 100%));
}
svg {
    grid-area: 1 / 1;
}
figcaption {
    grid-area: 1 / 1;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}
