* {
    margin: 0;
}
figure {
    border: 1rem dashed salmon;
    display: grid;
    grid-template-columns: 2;
}
figcaption {
    user-select: none;
    grid-area: 1 / 1;
    font-size: 2rem;
    font-weight: bolder;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
}
svg {
    background-color: orange;
    width: 100%;
}
